.msgbox
{
	padding: 17px 14px 17px 14px;
	width: 99%;
	border: 1px solid;
	overflow: auto;
	border-radius: 10px;
	text-align: left;
	text-shadow: none !important;
}

.info
{
	color: #00529B;
	background-color: #BDE5F8;
}

.success
{
	color: #4F8A10;
	background-color: #DFF2BF;
}

.error
{
	color: #D8000C;
	background-color: #FFBABA;
}